
#central{
    width: 100%;
    align-items: center
}
p {
    font-size: x-large;
}
#fake{
    font-style: oblique;
    text-align: center;
    margin-top: 6cm;
    width: 100%;
    color: #c0ebe1
    
}
body{
    background: lightblue;
}
h4 {
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}
h5 {
    font-size: x-large;
    border-radius: 5px;
    margin-top: 5px ;
    margin-bottom: 5px;
}
button{
    background-color:#5560af ;
    color: white;
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer;  
    border: none; 
    font-size: 16px;
}